{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h4>Welcome to Cels DNS Management!</h4>
    <p class="text-muted">Here's a quick overview of the DNS.</p>
    <div class="row">
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-2">Server Overview</h5>
                    <hr />
                    <div>System uptime: 9 hours and 33 minutes</div>
                    <div>DNS responded: 354</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}