{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5>DNS Resolvers (for DNS-over-HTTPS)</h5>
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="col-12">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><strong>Management</strong></li>
                    <li class="breadcrumb-item active">DNS Resolvers</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="align-middle">Identifier</th>
                                    <th class="align-middle">Domain</th>
                                    <th class="align-middle">Endpoint</th>
                                    <th class="align-middle text-center">#Queries</th>
                                    <th data-searchable="false" data-sortable="false" class="align-middle text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in data['resolvers'] %}
                                    <tr>
                                        <td class="align-middle">
                                            <i class="fas fa-question mr-2 text-muted" data-toggle="tooltip" data-placement="right" title="The resolver status is unknown."></i>
                                            {{ res['name'] }}
                                        </td>
                                        <td class="align-middle"><a href="http://{{ res['mod'].DOMAIN }}">{{ res['mod'].DOMAIN }}</a></td>
                                        <td class="align-middle"><a href="{{ res['mod'].ENDPOINT }}">{{ res['mod'].ENDPOINT }}</a></td>
                                        <td class="align-middle text-center">{{ res['count'] }}</td>
                                        <td class="align-middle text-right">
                                            <button class="btn btn-primary check-resolver"><i class="fas fa-sync"></i> Check</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_items %}
{{ super() }}
<script>
    $(() => {
        $('table').DataTable();
    });
</script>
{% endblock %}