{
    "dns.google.": {
        "resolver": true,
        "answers": [
            {
                "name": "dns.google.",
                "type": 1,
                "TTL": 370,
                "data": "8.8.4.4"
            },
            {
                "name": "dns.google.",
                "type": 1,
                "TTL": 370,
                "data": "8.8.8.8"
            }
        ]
    },
    "dns.quad9.net.": {
        "resolver": true,
        "answers": [
            {
                "name": "dns.quad9.net.",
                "type": 1,
                "TTL": 504,
                "data": "9.9.9.9"
            },
            {
                "name": "dns.quad9.net.",
                "type": 1,
                "TTL": 504,
                "data": "149.112.112.112"
            }
        ]
    },
    "cloudflare-dns.com.": {
        "resolver": true,
        "answers": [
            {
                "name": "cloudflare-dns.com.",
                "type": 1,
                "TTL": 206,
                "data": "104.16.248.249"
            },
            {
                "name": "cloudflare-dns.com.",
                "type": 1,
                "TTL": 206,
                "data": "104.16.249.249"
            }
        ]
    }
}