{
    "dns.google.": {
        "resolver": true,
        "locked": true,
        "answers": [
            {
                "name": "dns.google.",
                "type": 28,
                "TTL": 10,
                "data": "2001:4860:4860::8844"
            },
            {
                "name": "dns.google.",
                "type": 28,
                "TTL": 10,
                "data": "2001:4860:4860::8888"
            },
            {
                "name": "dns.google.",
                "type": 1,
                "TTL": 220,
                "data": "8.8.4.4"
            },
            {
                "name": "dns.google.",
                "type": 1,
                "TTL": 220,
                "data": "8.8.8.8"
            }
        ]
    },
    "dns.quad9.net.": {
        "resolver": true,
        "locked": true,
        "answers": [
            {
                "name": "dns.quad9.net.",
                "type": 28,
                "TTL": 594,
                "data": "2620:fe::9"
            },
            {
                "name": "dns.quad9.net.",
                "type": 28,
                "TTL": 594,
                "data": "2620:fe::fe"
            },
            {
                "name": "dns.quad9.net.",
                "type": 1,
                "TTL": 928,
                "data": "149.112.112.112"
            },
            {
                "name": "dns.quad9.net.",
                "type": 1,
                "TTL": 928,
                "data": "9.9.9.9"
            }
        ]
    },
    "cloudflare-dns.com.": {
        "resolver": true,
        "locked": true,
        "answers": [
            {
                "name": "cloudflare-dns.com.",
                "type": 28,
                "TTL": 259,
                "data": "2606:4700::6810:f8f9"
            },
            {
                "name": "cloudflare-dns.com.",
                "type": 28,
                "TTL": 259,
                "data": "2606:4700::6810:f9f9"
            },
            {
                "name": "cloudflare-dns.com.",
                "type": 1,
                "TTL": 175,
                "data": "104.16.248.249"
            },
            {
                "name": "cloudflare-dns.com.",
                "type": 1,
                "TTL": 175,
                "data": "104.16.249.249"
            }
        ]
    }
}